header{
    background: linear-gradient(#ff891382, #ff80007a), url(img/header/GOPR3701_1702597555412\ \(2\).jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 98vw; */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1,h2,h3,h4{
    color: white;
    text-align: center;
}
.navbar{
    display: flex;
    justify-content: center;
    z-index: 1;
    width: 100%;
}
.navbar-collapse{
    flex-grow: 0;
}
.navbar-expand-sm .navbar-collapse{
    justify-content: flex-end;
}
.section-buy{
    background-color: #1e1e1e;
    height: 100%;
}
.card-list{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}
.card{
  
    height: 423px;
    width: 272px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* border-color: white; */
    border: none;
    overflow: hidden;
    border-width: 2px;
    background-color: rgb(47 47 47 / 57%);
    box-shadow: 0px 1px 8px 0px #7d7b7b;
}

section{
    padding: 20px;
}
.control-angle{
    display: flex;
    flex-direction: column;
}
.btn-orange{
    background-color: rgba(0, 0, 0, 0.446);
    border-color: #ff7f00;
    border-width: 2px;
    animation: luz 1s infinite;

}
.btn-orange:hover{
    box-shadow: 0px 0px 3px 4px #fe7e00;

}
.fa-angles-down{
    color: white;
}
.circle{
    background-color: #fe7e00;
    background-size: contain;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    animation: latidos 1s infinite;
}
.circle .fa{
    color: white;
    font-size: xxx-large;
}
.content-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    /* padding: 10px; */
    padding-right: 10px;
}
 *,h2,h3,h4,h5{
    font-family: 'Font', sans-serif ;
} 
.font{
    font-family: 'Friday 13', sans-serif ;
}
.content-card p{
    margin: 0px;
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: #00000074;
    background-size: contain;
}
.content-card span{
    font-size: large;
    color: white;
    background-color: #00000057;
}

.btn-card{
    position: relative;
   
    width: 120px;
    height: 40px;

    color: white;
}

.card h3{
    color: #ff7f00;
}

.ul-foto{
    list-style-type: circle;
}

li span{
    font-size: -webkit-xxx-large;
    color: #edecd8;
}
.icon-header{
    margin: 10px;
    width: 100px;
    height: 150px;
    background-image: url("icon.png");
    background-color: #ff7f00;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    background-position: center;
}
.container-icon{
    display: flex;
    flex-wrap: wrap;
    background-color: #fe7e00;
    justify-content: center;
}
.container{
    margin: 10px;
}
.title-principal{
    font-size: 12.5vw;
    font-family:  'Friday 13', sans-serif;
    color: black;
}
.text-icon{
    display: flex;
    background-color: #ff7f00;
    width: 100%;
    justify-content: center ;
}
@font-face {
    font-family: 'Friday 13';
    src: local('Friday 13'), url('../src/Friday13v12.ttf') format('truetype');
    /* Ajusta la ruta según la ubicación de tu archivo de fuente */
}
@font-face {
    font-family: 'Font';
    src: local('Font'), url('../src/AlternateGotNo1D.ttf') format('truetype');
    /* Ajusta la ruta según la ubicación de tu archivo de fuente */
}


.text-icon h2{
    color: black;
    margin: 10px 20px 10px 20px;
    font-size: 5.3vw;
    font-weight: 700;
    font-family: 'AlternateGotNo3D', sans-serif;
}
.text-header-white{
    font-size: x-large;
    
}

.btn-header-text{
    font-size: 8vw;
    font-weight: bold;
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-black{
    background-color: black;
}

.container-nav-text{
    justify-content: center !important;
}
.container-nav-text .nav-list li a{
    color: white;
    font-size: 3vw;
    margin-left: 10px;
     font-weight: 800; 
    margin-top: -20px;
    margin-bottom: -20px;
    margin-right: 10px;
}
.nav-list li a:hover{
    color: #ff7f00;
    
 }
 .color-black{
    background-color: black;
    width: 50%;
    font-size: x-large;

 }

 .btn-cta {
    border-radius: 10px;
   
    border-width: 4px;
  
    height: 4vw;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: cambioColor 1s infinite;

}
 .header-font{
    font-size: 3vw !important;
 }
 .header-left{
    margin: 10px;
 }
 .btn-read{
    color: white;
    border: 2px solid transparent;
 }
 .cloud{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
 }
.btn-read:hover{
    color: #fff;
    background-color: #fe7e00;
    border-color: #000000;
}

 .header-left h2{
    font-size: 4vw;
    font-family: 'Friday 13', sans-serif;
 }
 .header-left h5 {
    font-size: 4vw;
    color: white;
    font-family: 'Friday 13';
 }
 .header-ritgh{
    margin: 10px;
    border: 7px solid black;
 }
 .container-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: column;
}
 .font-zise-h1{
       /* margin-top: -13px; */
       font-size: 19vw;
       /* margin-bottom: -20px; */
       font-family: 'Friday 13';
       margin: 12px;
 }


 .btn-card:hover{
    color: #ff7f00;
 }
 .section-about{
    background-color: #ff7f00;
    padding-left: 100px;
    padding-right: 100px;
}

 .nav-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

 .nav-social li {
    margin-left: 10px;
    margin-right: 10px;
    height: 42px;
    width: 42px;
    background-color: #000000;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
a{
    font-size: small;
}
.nav-social li:hover {
  background-color: white;
}
 .nav-social i {
    color: #fe7e00;
    font-size: x-large;
}

 .container-social{
    display: flex;
    
    justify-content: center;
    margin: 10px;
}
footer{
    background-color: #1e1e1e;
    padding: 40px;
    padding-left: 186px;
    padding-right: 186px;
    display: flex;
    /* align-content: center; */
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-whatsapp {
    display: flex;
    align-items: center;
}
.navbar-whatsapp span{
    font-size: 3vw;
    margin: 10px;
}
#section-buy{
    padding-top: 60px;
    padding-bottom: 60px;
}
.navbar-whatsapp i{
    color:white;
   font-size: 3vw;
   margin: 10px;
}
.navbar-whatsapp i:hover{
    background-color: #fe7e00;
}
.svg-banck{
 height: 2vw;
}
.container-footer-top{
    display: flex;
    margin: 20px;
}

.footer-nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.footer-nav .nav-item .nav-link {
    font-size: 1.5vw;
    margin-right: 1vw;
    margin-left: 1vw;
}
.line-nav{
    height: 25px;
    width: 1px;
    background: white;
}
.incluye-text{
       font-weight: 500;
}
.content-card-text{
    font-weight: 650;
}
.price-card{
    font-weight: 650;
    background-color: #00000053;
}

.hr-footer-c{
    background-color: #fe7e00;
    height: 2px !important;
    width: 100%;
}

.navbar-bank li{
    text-align: center;
    /* margin: 10px; */
    padding: 10px;
}

.svg-banck:hover{
    background-color: #fe7e00;
}




.figure-about{
    background-color: #000000;
    height: 6px;
    width: 27vw;
}

.figure-about-c{
 width: 12px;
 height: 12px;
 background-color: rgb(0, 0, 0);
 border-radius: 50%;
}
.col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-decoration{
    display: flex;
    align-items: center
}

.container-about{
    display: flex;
    justify-content: center;
}
.card-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding: 20px;
   
}
.title-card-about{
    background-color: #000000;
    width: 100%;
}

.button-about{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button-black{
    background: #1f1c1c;
    border-color: transparent;
}





.container-card{
    display: flex;
    justify-content: space-around;
  
    flex-wrap: wrap;
  
}






.input-name label{
    color: #fe7e00;
}
/* 
@media (max-width : 428px){
    .text-icon h2{
        font-size: x-large !important;
      }
      .card-about{
        width: 401px;
      }
      .container-about {
        display: none;
      }
   

}

@media (min-width: 720px) {
  
    header{
        justify-content: space-between;
    }

  }
  @media (max-width:544px){
    .header-left{
        display: none;
    }
    .header-ritgh{
        width: 100%;
        position: absolute;
    }
    .navbar-whatsapp span{
        font-size: large !important;
    }
    .svg-banck{
        height: 12px;
    }

  }


  @media (max-width:810px) {
  
      .text-icon h2{
    font-size: xx-large;
  }
  .container-footer-top{
    flex-direction: column;
  }
}

@media (max-width:710px) {
    .container-nav-text .nav-list li a{
        font-size: x-large;
      }
      .footer-nav .nav-item .nav-link{
        font-size: smaller !important;
      }
      .container-nav-text{
        display: none;
      }

}

@media (max-width:920px){
    
    .figure-about{
        width: 200px;
    }
    .footer-nav .nav-item .nav-link{
        font-size: larger ;
        margin-right: 10px;
    margin-left: 10px;
    }


}
@media (max-width:950px) {
    .navbar-whatsapp span{
        font-size: medium;
    }
    .footer-contact{
        font-size: smaller !important;
    }
} */
@media screen and (max-width: 450px){
    .card-about{
        width: 96vw;
    }
    .footer-contact{
        font-size: 8vw !important;
    }
    .svg-banck{
        height: 5vw;
    }
    .navbar-whatsapp span{
        font-size: 6vw !important;
    }
    .navbar-whatsapp li{
        text-align: center;
    }
   
  
}
@media screen and (max-width: 577px){
    .nav-android{
        display: block;
    }
    .container-nav-text .nav-list li a{
        font-size: 6vw;
        margin: 0px;
    }
       
}
@media screen and (max-width: 600px) {
    /* Estilos para pantallas pequeñas */
    .border-blogs
    .card-about{
        width: 96vw;
    }
    .container-footer-top{
        flex-direction: column;
    }
    .footer-nav{
        display: none;
    }
    .header-left{
        display: none;
    }
    .card{
        width: 80vw;
    }
    footer{
        padding: 0px;
    }
    .navbar-whatsapp span{
        font-size: 4vw;
    }
   .about-img{
        height: 19vw !important;
        width: 19vw !important;
   }
   .about-img .about-video{
        height: 19vw !important;
        width: 19vw !important;
   }
   header{
    height: 157vw;
   }
 
   .footer-contact{
     font-size: 4vw;
   }
   .container-about{
    display: none;
   }

  }

  @media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para pantallas medianas */
    .header-android{
        display: none;
    }
    .navbar-whatsapp span{
        font-size: 2.6vw;
    }
   
  }
  .title-android{
    font-size: 25vw;
  
}
.text-android{
font-size: 6vw;
background-color: #000000;
padding: 2px;

}
  @media screen and (min-width: 1025px) {
    /* Estilos para pantallas grandes */
  
    .header-android{
        display: none;
    }
    .title-principal{
        font-size: 10vw;
    }
    .text-icon h2{
        font-size: 4vw;
    }
    .header-left h2{
        font-size: 3vw;
    }
    .header-left h5{
        font-size: 3vw;
    }
    .container-header{
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .btn-header-text{
        font-size: 4vw;
    }
    .header-ritgh{
        width: 36vw;
    }
    .reservacion h2{
        font-size: 6vw !important;  
    }
  }

.card-cont {
    height: 100%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.image-list img{
    width: 100%;
    height: 450px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    filter: blur(0.7px);
}

.image-list{
    display: none;
}


.mySlides {display:none;}



.button-slider-img{
    color: white;
    background-color: #00000057;
    border-radius: 50%;
    font-size: small;
    z-index: 10;
}
.button-slider-img:hover{
    color: white;
    background-color: #00000057;
    border-radius: 50%;
    font-size: small;
}

.card-text-title{
        font-weight: bold;
        font-size: xx-large;
        font-style: oblique;
}

.footer-contact{
 font-size: 3.5vw;
}

    .about-img{
        height: 10vw;
        width: 10vw;
        margin: 1vw;
    }

.list-about-img{
    display: flex;
    flex-direction: row;
 
    justify-content: space-between;
}
p{
    font-size: larger;
}

.about-img .about-video {
    height: 10vw;
    object-fit: cover;
    width: 10vw;

}

.ubicacion-blogs{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-size: large;
   
    height: 25px;
}
.ubicacion-blogs i{
    font-size: x-large;
}
.ubicacion-blogs span{
    margin-left: 10px;
}
.ubicacion-blogs .fa{
    font-size: x-large;
    margin-right: 10px;
}

.ubicacion-blogs span:hover{
    background-color: #000000;
    color: white;
}

.title-blogs span:hover{
    background-color: #000000;
    color: white;
}

.border-blogs{
    border: 3px solid black;
    background-color: #edecd8;
 
}

.scale-grey{
    filter: grayscale(1);
}
.btn{
    border-radius: 0px;
   height: 100%;
}

.btn-policy:hover{
    background-color: #000000;
}



@keyframes cambioColor {
  
    0% {
        background-color: #fe7e00;
        color: rgb(255, 255, 255);
    }
    100% {
        background-color: black;
        color: #fe7e00;
    }
}

@keyframes despliegue {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes despliegueB{
    0% {
        opacity: 0;
        transform: translateY(-5px);
    }
    100% {
        opacity: 1;
        transform: translateY(2px);
    }
}
@keyframes despliegueUp {
    0% {
        opacity: 0;
        transform: translateY(6px);
    }
    100% {
        opacity: 1;
        transform: translateY(-2px);
    }
}
@keyframes latidos {
    from{ transform: none;

    }
    50%{
        transform: scale(1.1);
    }
    to{
        transform: none;
    }
    
}
@keyframes luz {
    from{ transform: none;

    }
    50%{
        box-shadow: 0px 0px 3px 2px #fe7e00;
    }
    to{
        transform: none;
    }
    
}
.navbar-toggler {
    animation: despliegueB 0.8s infinite;
   
}
.button-animation-d{
    animation: despliegueUp 0.8s infinite;
   

}
.navbar-collapse {
    animation: despliegue 0.5s ease-in-out;
}
.fa-solid{
    color: white;
}
.fa-location-dot{
    color: #000000;
}
.reservacion h2{
    color: #fe7e00;
    font-size: 10vw;
}